body {
  background-color: rgb(1, 1, 37);
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}
h1 {
  color: white;
  text-align: center;
}
p {
  color: rgb(250, 246, 250);
  font-size: 18px;
  margin-bottom: 20px;
  line-height: normal;
}
img {
  display: block;
  width: 100%;
  height: auto;
  border: radius 10px;
}
